-
  util.expected = `
    La vieille caméra
    vieilles
    belles, intéressantes, intéressantes, vieilles, vieilles

    les belles bagues sont luxueuses

    la lampe est lumineuse, la lampe est lumineuse, la lampe est somptueuse, la lampe est lumineuse, la lampe est somptueuse, la lampe est lumineuse, la lampe est belle
  `;

- var PRODUIT = {};
- PRODUIT.ref = 'produit_ref';
mixin produit_ref(obj, params)
  | #[+value('bague', {det: 'DEFINITE', adj:'beau', adjPos:'BEFORE', number: 'P', represents: PRODUIT})]


t
  l la #[+agreeAdj('vieux', 'caméra')] caméra
  l #[+agreeAdj('vieux', getAnonFP())]

  //- synonyms
  l
    eachz elt in [1,2,3,4,5] with { separator: ',', last_separator: ',' }
      | #[+agreeAdj(['vieux', 'beau', 'intéressant'], getAnonFP())]

  //- using subjectVerbAdj
  l #[+subjectVerbAdj(PRODUIT, 'être', 'luxueux')]

  //- using subjectVerbAdj and synonyms
  l
    eachz elt in [1,2,3,4,5, 6, 7] with { separator: ',', last_separator: ',' }
      | #[+subjectVerbAdj('lampe', 'être', ['somptueux', 'beau', 'lumineux'], {det:'DEFINITE'})]
