-
  util.expected = `
    Le vieil homme est vieux, le vieil alsacien est vieux, la vieille maison est vieille, le vieil alsacien est vieux, le vieil homme est vieux, la vieille maison est vieille, la vieille maison est vieille, la vieille maison est vieille, le vieux gourou est vieux, le vieil alsacien est vieux

    est
    la lampe est
    la lampe est belle

    le génie est somptueux, la lampe est somptueuse, la lampe est somptueuse, le génie est somptueux, le génie est somptueux, la lampe est belle
  `;


t

  //- multiple elements as first arg
  - const TRUC = {bla:'bla'}; // must not be empty as it is used as a key
  l
    eachz elt in [1,2,3,4,5,6,7,8,9,10] with { separator: ',', last_separator: ',' }
      | #[+value(['alsacien', 'homme', 'maison', 'gourou'], {det:'DEFINITE', adj:'vieux', adjPos:'BEFORE', represents: TRUC})]
      | est
      | #[+agreeAdj('vieux', TRUC)]

  //- with 1 elts list
  l
    | #[+verb(['lampe'], 'être')]
  l
    | #[+subjectVerb(['lampe'], 'être', {det:'DEFINITE'})]
  l
    | #[+subjectVerbAdj(['lampe'], 'être', ['beau'], {det:'DEFINITE'})]

  l
    eachz elt in [1,2,3,4,5,6] with { separator: ',', last_separator: ',' }
      | #[+subjectVerbAdj(['lampe', 'génie'], 'être', ['somptueux', 'beau'], {det:'DEFINITE'})]

