-
  util.expected = `
    Bijoux\xa0: beaux
    couleur\xa0: verte
    poids\xa0: lourd

    genoux
    genou

    bijoux
    eaux
    landaus
    pneus
    sous
    gaz
    émaux
    yeux
    yeux

    Du Vent dans les Branches
    Junior l'Aventurier
    Cet Eté à la Plage
  `;

-
  var BIJOUX = {bla: 'bla'};
  setRefGenderNumber(BIJOUX, 'M', 'P');

t
  //- agreements
  l #[+value("bijou", {number: BIJOUX})] : #[+agreeAdj('beau', BIJOUX)]
  l couleur : #[+agreeAdj('vert', 'couleur')]
  l poids : #[+agreeAdj('lourd', 'poids')]

  -
    var GENOU = {ge: 'nou'};
  //- more agreements
  - setRefNumber(GENOU, 'P');
  l #[+value('genou', {number:GENOU})]
  - setRefNumber(GENOU, 'S');
  l #[+value('genou', {number:GENOU})]

  //- more agreements
  - var subjP = getAnonymous('M', 'P');
  each subst in ["bijou", "eau", "landau", "pneu", "sou", "gaz", "émail", "oeil"]
    l #[+value(subst, {number:subjP})]
  //- œil is not in dict
  l #[+value("œil", {number:subjP})]

  //- title case
  each title in ["du vent dans les branches", "junior l'aventurier", "cet été à la plage"]
    l
      titlecase
        | #{title}
  

