-
  util.expected = `
    REF_M est luxueux / REFEXPR_F est luxueuse
    REF_M est luxueux / REF_M est luxueux
  `;



mixin produit_ref(obj, params)
  | REF_M
  - setRefGender(obj, 'M');

mixin produit_refexpr(obj, params)
  | REFEXPR_F
  - setRefGender(obj, 'F');

t
  -
    var PRODUIT = {};
    PRODUIT.ref = 'produit_ref';
    PRODUIT.refexpr = 'produit_refexpr'

  l #[+subjectVerbAdj(PRODUIT, 'être', 'luxueux')] / #[+subjectVerbAdj(PRODUIT, 'être', 'luxueux')]
  - resetRep(PRODUIT);
  l #[+subjectVerbAdj(PRODUIT, 'être', 'luxueux')] / #[+subjectVerbAdj(PRODUIT, 'être', 'luxueux', {REPRESENTANT:'ref'})]
