- console.log('BEGIN_MAIN'); // leave it. it is a placeholder.

include accessors
include spy
include misc

include main_mixins

include verbs

-
  util.setSpy(spy);

- console.log('END_MAIN'); // leave it. it is a placeholder.

