-
  util.expected = `
    An apple
    a human emotion
    a cat
    a university
    an hour
    during an hour
    an hour.
    A Pharmaceuticals
    a Pharmaceuticals
    an hour..long
    . An apple
  `;

t
  l a apple
  l a human emotion
  l a cat
  l a university
  l a hour
  l during a hour
  l a hour.
  l a Pharmaceuticals
  l a 
    protect
      | Pharmaceuticals
  l a
    protect
      | hour..long
  l . a apple
