-
  util.expected = `
    Z, B, C AND D
    Z, B AND C
    Z AND B
    Z, B, C LAST_SEP D
    Z, B, C ALT_LAST_SEP D
    Z, B ALT_LAST_SEP C
    BEGINGENERAL Z, B, C AND D
    BEGIN1 Z
    Z B C D END
    My Company Inc., My Other Company Ltd. and My Last Company & Co.
    AX LAST_SEP B
    AX ALT_LAST_SEP B
    Z B
  `;



mixin listOfStuffBasic(asm, params)
  itemz asm
    item
      | Z
    item
      | B
    item
      | C
    item
      | D

mixin listOfStuffWithOptC(asm, params)
  itemz asm
    item
      | Z
    item
      | B
    item
      if hasFlag(params, 'WITH_C')
        | C


mixin mixinLastSep(params)
  if hasFlag(params, 'LAST_SEP_IS_ALT')
    | ALT_LAST_SEP
  else
    | LAST_SEP

-
  var asmCommaAnd = {separator: ', ', last_separator: 'AND'};
  var asmWithMixin = {separator: ', ', last_separator: 'mixinLastSep'};
  var asmWithBegin = {separator: ', ', last_separator: 'AND', begin_with_general: 'BEGINGENERAL', begin_with_1: 'BEGIN1'};

t
  l #[+listOfStuffBasic(asmCommaAnd)]
  l #[+listOfStuffWithOptC(asmCommaAnd, {WITH_C: true})]
  l #[+listOfStuffWithOptC(asmCommaAnd, {WITH_C: false})]
  l #[+listOfStuffBasic(asmWithMixin)]
  l #[+listOfStuffBasic(asmWithMixin, {LAST_SEP_IS_ALT: true, 'aaa':'bbbb'})]
  l #[+listOfStuffWithOptC(asmWithMixin, {WITH_C: true, LAST_SEP_IS_ALT: true})]
  l #[+listOfStuffBasic(asmWithBegin)]

  l
    itemz asmWithBegin
      item
        | Z
  
  l #[+listOfStuffBasic({separator:' ', end: 'END'})]

  l
    itemz {separator:',', last_separator: 'and'}
      item
        protect
          | My Company Inc.
      item
        protect
          | My Other Company Ltd.
      item
        protect
          | My Last Company & Co.
  
  l
    - var params = { LAST_SEP_IS_ALT: false };
    itemz {separator: ', ', last_separator: 'mixinLastSep'}
      item
        | AX
      item
        | B
  l
    - var params = { LAST_SEP_IS_ALT: true };
    itemz {separator: ', ', last_separator: 'mixinLastSep'}
      item
        | AX
      item
        | B

  l
    itemz
      item
        | Z
      item
        | B
