-
  util.expected = `
    Bla blo blu
  `;


t
  l
    itemz
      item
        choosebest
          synz
            syn
              | bla
            syn
              | bla
      item
        | blo
      item
        | blu
