-
  util.expected = `
    A B C D
    A. B. C. D.
    A, B, C and D
    begin A. B. C.
    A and D
    A, C and D
    A. B.
    <p>A.</p><p>B.</p>
    EMPTY
    test B X var and B Y var and test C X var and C Y var
    C B Z
    A B
  `;


- var elts = ['A','B','C','D'];

mixin showElt(elt)
  | #{elt}

mixin showEltNOT_B_flag(elt, params)
  if elt!='B' || !hasFlag(params, 'NOT_B')
    | #{elt}

t
  l #[+foreach(elts, 'showElt')]
  l #[+foreach(elts, 'showElt', {mode:'sentences', separator: '.'}, {some:'params'})]

  l
    eachz elt in elts with { separator: ', ', last_separator: 'and' }
      | #{elt}  
  l
    eachz elt in ['A','B','C'] with { mode:'sentences', separator:'.', begin_with_general:'begin'}
      | #{elt}
  l 
    eachz elt in elts with { separator: ', ', last_separator: ' and ' }
      if ['B','C'].indexOf(elt)==-1
        | #{elt}
  l
    eachz elt in elts with { mode:'single_sentence', separator: ', ', last_separator: ' and ' }
      | #[+showEltNOT_B_flag(elt, {NOT_B:true})]
  l
    eachz elt in ['A','B'] with {mode:'sentences', separator:'.'}
      | #{elt}
  l
    eachz elt in ['A','B'] with {mode:'paragraphs', separator:'.'}
      | #{elt}
  l
    eachz elt in [] with {mode:'single_sentence', if_empty:'EMPTY'}
      | #{elt}
  l
    eachz val in ['B','C'] with { separator: ',', last_separator: 'and' }
      | test
      - var myVar = "var";
      eachz val2 in ['X','Y'] with { separator: ',', last_separator: 'and' }
        | #{val} #{val2} #{myVar}

  l
    eachz val in ['Z', 'B', 'C'] with { mix:true }
      | #{val}

  l
    eachz val in ['A', 'B']
      | #{val}
