
-
  util.expected = `
    Add1 add2 add3 6 / add1 add2 add3 12 / add1 add2 add3 18
    {"TEST":null}
  `;


mixin listOfStuff
  itemz {separator: ' '}
    item
      | add1
      recordValue('TEST', getValue('TEST')+1)
    item
      | add2
      recordValue('TEST', getValue('TEST')+2)
    item
      | add3
      recordValue('TEST', getValue('TEST')+3)

mixin helper
  | #[+listOfStuff] #{util.saidManager.getHasSaidMap()['TEST']}

t
  recordValue('TEST', 0)
  l #[+helper] / #[+helper] / #[+helper]
  deleteValue('TEST')
  
  l
    protect
      | !{getDumpHasSaid()}
