-
  util.expected = `
    Ok
    ok
    said_it / already / already / already
    said_it_2 / already / already_2 / already / already_2 / already / already_2 / already

    {}
    {"SOME_BOOL":true,"SOME_VAL":36}
  `;


mixin syn_general
  synz
    syn
      if !hasSaid('SAID')
        | said_it
        recordSaid('SAID')
    syn
      if hasSaid('SAID')
        | already
    syn
      if hasSaid('SAID')
        | already


mixin syn_general2
  synz
    syn
      if !hasSaid('SAID')
        | said_it_2 / 
        - recordSaid('SAID');
        | #[+syn_general()]
    syn
      if hasSaid('SAID')
        | already_2 / #[+syn_general()]
    syn
      if hasSaid('SAID')
        | already_2 / #[+syn_general()]


t
  l
    recordSaid('TEST')
    if hasSaid('TEST')
      | ok
  l
    deleteSaid('TEST')
    if !hasSaid('TEST')
      | ok

  l #[+syn_general()] / #[+syn_general()] / #[+syn_general()] / #[+syn_general()]
  - deleteSaid('SAID');
  l #[+syn_general2()] / #[+syn_general2()] / #[+syn_general2()] / #[+syn_general2()]
  - deleteSaid('SAID');

  //- edge cases
  - deleteSaid('TOTO');

  l
    protect
      | !{JSON.stringify(getHasSaidCopy())}

  recordSaid('SOME_BOOL')
  recordValue('SOME_VAL', 36)
  l
    protect
      | !{JSON.stringify(getHasSaidCopy())}
