-
  util.expected = `
    Aaa
  `;

t
  l
    itemz { separator:',', last_separator: 'andB' }
      item
        | aaa
      item
        eachz elt in [] with {}
          | #[+value(elt)]
