-
  util.expected = `
    Cool
    bla: bla

    tomato 
    tomatoes 
    addenda 
    algae
    cranberries
    radii

    What Is This Strange Thing?
  `;

t
  //- misc
  l #[+agreeAdj('cool', getAnonMP())]
  l bla:bla

  //- word agreements
  l #[+value("tomato", {number: 'S'})]
  l #[+value("tomato", {number: 'P'})]
  l #[+value("addendum", {number: 'P'})]
  l #[+value("alga", {number: 'P'})]
  l #[+value("cranberry", {number: 'P'})]
  l #[+value("radius", {number: 'P'})]

  //- titlecase
  l
    - var w = 'strange';
    titlecase
      | what is this
      if true
        | #{w}
      | thing?

