-
  util.expected = `
    protected.string
    protected.string
    protected.string
    protected.string bla.bla
    protected.string bla.bla . bla
    aaa.bbb
    has bla toto
    totototo
    toto toto
  `;


mixin amixin
  | protected.string

t
  l
    protect
      | protected.string
  l #{protectString("protected.string")}

  l
    protect #{"protected.string"}

  l
    protect
      | #[+amixin] bla.bla

  l
    protect #[+amixin] bla.bla . #{'bla'}

  l
    protect
      | aaa.bbb

  l
    +verb(getAnonMS(), {verb:'have'})
    +syn('bla','bla')
    +value('toto')

  l
    protect
      | #{'toto'}#{'toto'}
  
  l
    | #{'toto'}        #{'toto'}
