-
  util.expected = `
    REF / REFEXPR
    REF / REF
  `;


- var PRODUCT = {};

mixin PRODUCT_ref(obj, params)
  | REF

mixin PRODUCT_refexpr(obj, params)
  | REFEXPR

t
  - 
    PRODUCT.ref = 'PRODUCT_ref';
    PRODUCT.refexpr = 'PRODUCT_refexpr'
  l #[+value(PRODUCT)] / #[+value(PRODUCT)]

  - 
    resetRep(PRODUCT)
    PRODUCT.ref = 'PRODUCT_ref';
    PRODUCT.refexpr = null
  l #[+value(PRODUCT)] / #[+value(PRODUCT)]
