
-
  util.expected = `
    1
    
    
    2
    2
    2
  `;


t
  l #{util.randomSeed}
  l
    synz {force: 2}
      syn
        | 1
      syn
        | 2
      syn
        | 3
  l
    - var WITH_1 = false;
    - var WITH_3 = false;
    synz {force: 3}
      syn
        if WITH_1
          | 1
      syn
        | 2
      syn
        if WITH_3
          | 3
  l
    synz {force:1}
      syn
        synz {force:2}
          syn
            | 1
          syn
            | 2          
      syn
        | bla
