-
  util.expected = `
    508

    B
    C
    C
    C
    A
    C

    2
    2
    2

    2
    2
    1
    3
    1

  `;

mixin syno_test(params)
  synz
    syn
      if hasFlag(params, 'WITH_1')
        | 1
    syn
      | 2
    syn
      if hasFlag(params, 'WITH_3')
        | 3

t
  l #{util.randomSeed}
  each i in [1,2,3,4,5,6]
    l
      synz
        syn
          | A
        syn
          | B
        syn
          | C

  each i in [1,2,3]
    l #[+syno_test]

  each i in [1,2,3,4,5]
    l #[+syno_test({WITH_1: true, WITH_3: true})]
