-
  util.expected = `
    591
    
    
    B C C C C C Z C C C C C C Z C C C C C C
    B B B Z B Z Z Z Z Z C Z B Z Z B Z B B B
    B B B C C C C B B C C C B C C B B C C B
    B B Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z

    second
  `;

//- A cannot be used: A A => an A etc. thus use Z  

t
  l #{util.randomSeed}
  l
    - var n = 0;
    while n < 20
      synz
        syn
          | Z
        syn
          | B
        syn {weight: 5}
          | C
      - n++;
  l
    - var n = 0;
    while n < 20
      synz
        syn {weight: 10}
          | Z
        syn {weight: 10}
          | B
        syn
          | C
      - n++;
  l
    - var n = 0;
    - var WITH_Z = false;
    while n < 20
      synz
        syn {weight: 1000}
          if WITH_Z
            | Z
        syn
          | B
        syn
          | C
      - n++;
  l
    - var n = 0;
    while n < 20
      synz
        syn {weight: n*n}
          | Z
        syn
          | B
      - n++;

  l
    synz {mode:'random'}
      syn
        | first
      syn
        | second


