-
  util.expected = `
    House
    house

    home, house, home, house, home, home, home, home, mouse, house
  `;


t
  l #[+value('house')]
  l #[+value('house', {})]

  l
    eachz elt in [1,2,3,4,5,6,7,8,9,10] with { separator: ',', last_separator: ',' }
      | #[+value(['house', 'home', 'mouse'])]
